# 가슴 사이즈 및 구독 회차별 유저 리텐션 계산.


### 가공
1. size를 입력하지 않은 데이터 제거한다.
2. 제대로 입력된 size 입력값만 골라서 list에다 담아둔다.
3. size에 제대로 입력된 size가 아닌 이상한 값이 들어있는 데이터를 지운다.
4. 중복된 id를 제거하기 위해 구독자를 맨 상위로 올린다.(구독이 적혀있는 것은 확실히 구독한 것이기 때문)
5. 지불날짜 가장 과거일자부터 정렬한다.
6. 사람의 수를 구하는 것으로 1회차 구독한 id를 제외한 중복된 id 제거한다.
7. list에 담아둔 size 항목으로 그룹으로 묶에서 가슴사이즈 입력한 사람의 수 구한다.(리텐션의 분모로 사용)

8. 1회차 구독한 수 사람의 수를 구한다.
9. 1회차 구독자 수를 list에 담아둔 size 항목으로 묶어서 사람의 수를 구한다.(리텐션의 분자로 사용)

10. 위의 size 항목으로 묶은 가슴사이즈 입력한 사람의 수를 분모로 하고, size 항목으로 묶은 1회차 구독자 수를 분자로 하여 리텐션을 구한다.


### 자동화
1. 1회차 구독자 수를 구했으면 다음으로 2회차 구독자 수를 구하여 '2회차 구독자 수/1회차 구독자 수' 로 분자 부분만 계속 구해서 다음 회차 리텐션을 같은 방식으로 구할 수 있게 할 수 있다.
2. 가공에서 지불날짜를 가장 과거일자부터 정렬한 데이터(결과값이라 부르겠음)를 가져와 중복된 값 중에서 맨 처음 값을 출력한다.
3. 중복된 값 중에서 맨 처음 값을 결과값에서 제거한다.
4. 유저 ID로 중복제거를 한 후 첫번째 값을 추출한다.(2번째 구독자 수)
5. size 항목으로 그룹하여 2번째 구독자 수를 출력한다.

6. 중복된 값 중에서 맨 처음 값을 제거한 결과값을 결과값으로 사용하여 위의 과정을 다시 실행한다(3번째 구독자 수)
7. 위의 과정을 반복하고 중복값이 0이 나올때가 마지막 구독자 수 이므로 마지막으로 size 항목으로 그룹하고 마무리한다.


### 결과
코딩에서 오류로 결과값이 이상하게 나오는 상황이다.
이상하지만 결과값을 보자면 총 2회차 구독까지 1500명이 진행했으며 4회차부터는 구독자가 없었다. 사이즈 별 리텐션은 아래 데이터프레임으로 출력했다.


### 해석
리텐션율은 가슴사이즈 별로 많이 차이나지 않아 느낌으로는 가슴사이즈 별로 우리의 서비스가 차별이 있는 것 같지 않다.
제일 좋은 것은 모두 서비스를 만족하는 것이지만 리텐션율을 보면 그런 것 같지는 않다. 오히려 최악인 모두 불만족일 수 있는 경우는 의심해 봐야 할 것 같다.
우리의 서비스가 가슴사이즈별로 정말 다른 만족도를 보이는지
그리고 가슴사이즈별 구독, 가슴사이즈별 구독 횟수가 상관관계가 있는지 그래프를 통해 산점도를 그려보거나 피어슨 상관계수를 구하여 상관분석을 하는 작업이 필요할 것 같다.

In [8]:
retention_plus(total_notnull_drop_df, final_df, 4)

2번째 구독자 수 중복값 :  1500
3번째 구독자 수 중복값 :  0

,사이즈입력수_1,구독자수_1,구독자수/사이즈입력수_1,구독자수_2,현재 구독자 수/이전 구독자 수_2,구독자수_3,현재 구독자 수/이전 구독자 수_3
100AA,2,1.0,0.500000,1.0,1.000000,1.0,1.0
100C,1,NaN,NaN,NaN,NaN,NaN,NaN
55A,1,NaN,NaN,NaN,NaN,NaN,NaN
55H,1,NaN,NaN,NaN,NaN,NaN,NaN
60A,2,NaN,NaN,NaN,NaN,NaN,NaN
60AA,1,NaN,NaN,NaN,NaN,NaN,NaN
60B,1,NaN,NaN,NaN,NaN,NaN,NaN
60C,2,NaN,NaN,NaN,NaN,NaN,NaN
60D,1,NaN,NaN,NaN,NaN,NaN,NaN
65A,357,127.0,0.355742,127.0,1.000000,127.0,1.0
65AA,7,NaN,NaN,NaN,NaN,NaN,NaN
65B,233,86.0,0.369099,87.0,1.011628,87.0,1.0
65C,232,88.0,0.379310,88.0,1.000000,88.0,1.0
65D,11,3.0,0.272727,3.0,1.000000,3.0,1.0
65E,2,NaN,NaN,NaN,NaN,NaN,NaN
65F,1,NaN,NaN,NaN,NaN,NaN,NaN
70A,1269,416.0,0.327817,416.0,1.000000,416.0,1.0
70AA,35,5.0,0.142857,5.0,1.000000,5.0,1.0
70B,1080,360.0,0.333333,361.0,1.002778,361.0,1.0
70C,814,286.0,0.351351,286.0,1.000000,286.0,1.0
70D,15,NaN,NaN,NaN,NaN,NaN,NaN
70E,4,1.0,0.250000,1.0,1.000000,1.0,1.0
70F,2,NaN,NaN,NaN,NaN,NaN,NaN
75A,2529,880.0,0.347964,883.0,1.003409,883.0,1.0
75AA,30,2.0,0.066667,2.0,1.000000,2.0,1.0
75B,2418,758.0,0.313482,759.0,1.001319,759.0,1.0
75C,1577,557.0,0.353202,557.0,1.000000,557.0,1.0
75D,23,1.0,0.043478,1.0,1.000000,1.0,1.0
75E,5,1.0,0.200000,1.0,1.000000,1.0,1.0
75F,2,1.0,0.500000,1.0,1.000000,1.0,1.0
80A,1294,449.0,0.346986,449.0,1.000000,449.0,1.0
80AA,16,2.0,0.125000,2.0,1.000000,2.0,1.0
80B,1409,489.0,0.347055,491.0,1.004090,491.0,1.0
80C,398,221.0,0.555276,222.0,1.004525,222.0,1.0
80D,10,1.0,0.100000,1.0,1.000000,1.0,1.0
80E,3,1.0,0.333333,1.0,1.000000,1.0,1.0
85A,427,151.0,0.353630,151.0,1.000000,151.0,1.0
85AA,3,NaN,NaN,NaN,NaN,NaN,NaN
85B,787,274.0,0.348158,274.0,1.000000,274.0,1.0
85C,8,NaN,NaN,NaN,NaN,NaN,NaN
85D,2,NaN,NaN,NaN,NaN,NaN,NaN
85E,1,NaN,NaN,NaN,NaN,NaN,NaN
90A,4,NaN,NaN,NaN,NaN,NaN,NaN
90AA,1,1.0,1.000000,1.0,1.000000,1.0,1.0
90B,3,NaN,NaN,NaN,NaN,NaN,NaN
90C,2,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

In [2]:
total_df = pd.DataFrame()
payment_df = pd.read_csv('./payment_window.csv', encoding='CP949')
bra_df = pd.read_csv('./bra_size_window.csv', encoding='CP949')
user_df = pd.read_csv('./user_window.csv', encoding='CP949')
pay_bra_df = pd.merge(payment_df, bra_df, how='outer', on='user_idx')
total_df = pd.merge(pay_bra_df, user_df, on='user_idx')
drop_cols = ['Unnamed: 0_x', 'Unnamed: 0', 'Unnamed: 0_y']
total_df.drop(drop_cols, axis=1, inplace=True)
total_df.reset_index(drop=True, inplace=True)

total_df['paid_date'] = pd.to_datetime(total_df['paid_date'])
total_df['joined_date'] = pd.to_datetime(total_df['joined_date'])
total_df['created_date'] = pd.to_datetime(total_df['created_date'])

In [3]:
print(total_df.shape)
display(total_df.head())
display(total_df.describe(include='all').T)
print(total_df.info())

(17199, 11)

,user_idx,subscription_type,cart_discount_price,order_shipping_price,order_total_price,paid_date,size,created_date,status,third_party_join_type,joined_date
0,0973f573635c1b55a58f1d221f992bfeb0b3e007a93efb...,구독,5100.0,3000.0,12900.0,2020-10-21,80A,2020-09-25 20:30:29+09:00,0,NaN,2020-09-21 16:07:34+09:00
1,305181c0babb5077b46ccb298a41469729a6760b19e44d...,구독,5100.0,3000.0,12900.0,2020-10-09,75B,2020-10-21 22:49:35+09:00,0,NaN,2020-10-09 23:38:44+09:00
2,5fa450bdb2e831617f0132293d63638e0f93f1f62af4ca...,구독,5100.0,3000.0,12900.0,2020-10-11,80C,2020-10-21 05:11:29+09:00,0,NaN,2020-10-11 13:20:13+09:00
3,85649b91d8ac8d2e84faa6c54032254356fe02c69d5fa0...,구독,5100.0,3000.0,12900.0,2020-10-14,80B,2020-10-21 05:11:29+09:00,0,NaN,2020-10-14 22:35:15+09:00
4,05afd1abc70fce9afaa18482a0bb9c6cb082e65b1e0ab4...,구독,5100.0,3000.0,12900.0,2020-10-21,70A,2020-10-24 01:05:30+09:00,0,NaN,2020-10-21 19:38:04+09:00

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
user_idx,17199,15512,27035b5f516880b9dc2f8c72cf7fdef9575bca6cbc5ab3...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subscription_type,7277,1,구독,7277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cart_discount_price,7308,NaN,NaN,NaN,NaN,NaN,3267.94,2729.68,0,0,5100,5100,15000
order_shipping_price,7308,NaN,NaN,NaN,NaN,NaN,2970.44,296.325,0,3000,3000,3000,3000
order_total_price,7308,NaN,NaN,NaN,NaN,NaN,14658.9,3071.58,0,12900,12900,18000,27900
paid_date,7308,55,2020-10-05 00:00:00,245,2020-08-31 00:00:00,2020-10-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
size,16588,67,75A,2806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
created_date,16602,11109,2020-10-20 05:05:06+09:00,1538,2019-07-19 19:31:03+09:00,2020-11-25 23:53:38+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,17199,NaN,NaN,NaN,NaN,NaN,0.00883772,0.0935956,0,0,0,0,1
third_party_join_type,1392,1197,39dec2b1f83736c53e918df70fb18b8e53ebc35086ce75...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
joined_date,17199,15508,2020-09-27 18:19:36+09:00,8,2019-05-21 01:10:58+09:00,2020-11-25 23:47:47+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17199 entries, 0 to 17198
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_idx               17199 non-null  object
 1   subscription_type      7277 non-null   object
 2   cart_discount_price    7308 non-null   float64
 3   order_shipping_price   7308 non-null   float64
 4   order_total_price      7308 non-null   float64
 5   paid_date              7308 non-null   datetime64[ns]
 6   size                   16588 non-null  object
 7   created_date           16602 non-null  datetime64[ns, pytz.FixedOffset(540)]
 8   status                 17199 non-null  int64
 9   third_party_join_type  1392 non-null   object
 10  joined_date            17199 non-null  datetime64[ns, pytz.FixedOffset(540)]
dtypes: datetime64[ns, pytz.FixedOffset(540)](2), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 1.4+ MB
None

## 데이터 가공

In [4]:
# size를 입력하지 않은 행 제거
total_notnull_df = total_df.dropna(subset=['size'])
total_notnull_df.shape

# 사이즈가 이상하게 들어 있는 데이터 제거
drop_row = ['3.2', '밑둘레가 더 큼', '85C/D/E/F/', '올리브', '알수없음 75/7','밑둘레가 더 큼 7',\
           '밑가슴둘레가 더 큼, ', '알수없음(0/0)', '80C/D/E/F/', '75D/E/F/G', '알수없음 0/0', '70D/E/F/G',\
           '알수없음 0/0', '70D/E/F/G', '알수없음 76/11', '그린', '65D/E/F/G', '알수없음(67/7)', '(70/70)',\
           '밑둘레가 더 큼 8', '알수없음 70/12', '(70/70)', '밑둘레가 더 큼 8', '알수없음 70/12',\
           '알수없음 73/10', '82/11', '밑가슴둘레가 더 큼']

total_notnull_drop_df = total_notnull_df[~total_notnull_df['size'].isin(drop_row)]

# 가슴 사이즈의 모든 항목 list에 담기
size_list = total_notnull_drop_df['size'].unique()
size_list.sort()

In [5]:
# 중복된 id를 제거하기 위해 구독자를 맨 상위로 올리기(구독이 적혀있는 것은 확실히 구독한 것이기 때문)
total_notnull_drop_df = total_notnull_drop_df.sort_values(by='subscription_type', ascending=True)

# 지불날짜 가장 과거일자부터 출력되도록 하기
total_notnull_drop_df = total_notnull_drop_df.sort_values(by='paid_date', ascending=True)
total_notnull_drop_df = total_notnull_drop_df.reset_index(drop=True)

# 사람의 수를 구하는 것으로 1회차 구독한 id를 제외한 중복된 id 제거 
total_notnull_drop_df_1 = total_notnull_drop_df.drop_duplicates(subset=['user_idx'], keep='first')
print('가슴 사이즈 입력한 사람의 수 : ',total_notnull_drop_df_1.shape[0])

# size 항목을 그룹으로 묶에서 가슴사이즈 입력한 사람의 수 구하기
total_notnull_drop_df_1_size = total_notnull_drop_df_1.groupby(by='size')['size'].count()
total_notnull_drop_df_1_size

# 1회차 구독한 수
subscription_df = total_notnull_drop_df_1.dropna(subset=['subscription_type'])
print('가슴 사이즈 입력한 사람의 수 중의 1회차 구독한 사람의 수 : ',subscription_df.shape[0])

# 1회차 구독자 수 size로 묶어서 보기
subscription_size_df = subscription_df.groupby(by='size')['size'].count()

final_df = pd.DataFrame(index=size_list, columns=['사이즈입력수_1','구독자수_1','구독자수/사이즈입력수_1'])
final_df['사이즈입력수_1'] = total_notnull_drop_df_1_size
final_df['구독자수_1'] = subscription_size_df
final_df['구독자수/사이즈입력수_1'] = final_df['구독자수_1']/final_df['사이즈입력수_1']

가슴 사이즈 입력한 사람의 수 :  15026
가슴 사이즈 입력한 사람의 수 중의 1회차 구독한 사람의 수 :  5162

# 구독자 수 리텐션 자동화

In [9]:
def retention_plus(total_df, final_df, subsc_num):
    result_df = pd.DataFrame()
    total_df = total_df.dropna(subset=['subscription_type'])
    
    for i in range(2,subsc_num):
        # 결과값에서 중복된 값 중에서 맨 처음 값을 출력한다.
        dupli_df = total_df[total_df.duplicated(subset=['user_idx'], keep='first')]
        print('{}번째 구독자 수 중복값 : '.format(i), dupli_df.shape[0])

        # 중복 중 맨 처음 값을 결과값에서 제거한다.
        total_df = total_df.drop(index=dupli_df.index)
        total_df = total_df.dropna(subset=['subscription_type'])

        # 중복제거를 한 후 첫번째 값을 추출한다.
        result_df = total_df.drop_duplicates(subset=['user_idx'], keep='first')

        # size로 그룹하여 숫자를 센다.
        result_size_df = result_df.groupby(by='size')['size'].count()
        
        # 사이즈 입력 수 구하기
        final_df['구독자수_'+str(i)] = result_size_df
        final_df['현재 구독자 수/이전 구독자 수_'+str(i)] = final_df['구독자수_'+str(i)]/\
                                                    final_df['구독자수_'+str(i-1)]

        
    return display(final_df)

In [7]:
retention_plus(total_notnull_drop_df, final_df, 4)

2번째 구독자 수 중복값 :  1500
3번째 구독자 수 중복값 :  0

,사이즈입력수_1,구독자수_1,구독자수/사이즈입력수_1,구독자수_2,현재 구독자 수/이전 구독자 수_2,구독자수_3,현재 구독자 수/이전 구독자 수_3
100AA,2,1.0,0.500000,1.0,1.000000,1.0,1.0
100C,1,NaN,NaN,NaN,NaN,NaN,NaN
55A,1,NaN,NaN,NaN,NaN,NaN,NaN
55H,1,NaN,NaN,NaN,NaN,NaN,NaN
60A,2,NaN,NaN,NaN,NaN,NaN,NaN
60AA,1,NaN,NaN,NaN,NaN,NaN,NaN
60B,1,NaN,NaN,NaN,NaN,NaN,NaN
60C,2,NaN,NaN,NaN,NaN,NaN,NaN
60D,1,NaN,NaN,NaN,NaN,NaN,NaN
65A,357,127.0,0.355742,127.0,1.000000,127.0,1.0
65AA,7,NaN,NaN,NaN,NaN,NaN,NaN
65B,233,86.0,0.369099,87.0,1.011628,87.0,1.0
65C,232,88.0,0.379310,88.0,1.000000,88.0,1.0
65D,11,3.0,0.272727,3.0,1.000000,3.0,1.0
65E,2,NaN,NaN,NaN,NaN,NaN,NaN
65F,1,NaN,NaN,NaN,NaN,NaN,NaN
70A,1269,416.0,0.327817,416.0,1.000000,416.0,1.0
70AA,35,5.0,0.142857,5.0,1.000000,5.0,1.0
70B,1080,360.0,0.333333,361.0,1.002778,361.0,1.0
70C,814,286.0,0.351351,286.0,1.000000,286.0,1.0
70D,15,NaN,NaN,NaN,NaN,NaN,NaN
70E,4,1.0,0.250000,1.0,1.000000,1.0,1.0
70F,2,NaN,NaN,NaN,NaN,NaN,NaN
75A,2529,880.0,0.347964,883.0,1.003409,883.0,1.0
75AA,30,2.0,0.066667,2.0,1.000000,2.0,1.0
75B,2418,758.0,0.313482,759.0,1.001319,759.0,1.0
75C,1577,557.0,0.353202,557.0,1.000000,557.0,1.0
75D,23,1.0,0.043478,1.0,1.000000,1.0,1.0
75E,5,1.0,0.200000,1.0,1.000000,1.0,1.0
75F,2,1.0,0.500000,1.0,1.000000,1.0,1.0
80A,1294,449.0,0.346986,449.0,1.000000,449.0,1.0
80AA,16,2.0,0.125000,2.0,1.000000,2.0,1.0
80B,1409,489.0,0.347055,491.0,1.004090,491.0,1.0
80C,398,221.0,0.555276,222.0,1.004525,222.0,1.0
80D,10,1.0,0.100000,1.0,1.000000,1.0,1.0
80E,3,1.0,0.333333,1.0,1.000000,1.0,1.0
85A,427,151.0,0.353630,151.0,1.000000,151.0,1.0
85AA,3,NaN,NaN,NaN,NaN,NaN,NaN
85B,787,274.0,0.348158,274.0,1.000000,274.0,1.0
85C,8,NaN,NaN,NaN,NaN,NaN,NaN
85D,2,NaN,NaN,NaN,NaN,NaN,NaN
85E,1,NaN,NaN,NaN,NaN,NaN,NaN
90A,4,NaN,NaN,NaN,NaN,NaN,NaN
90AA,1,1.0,1.000000,1.0,1.000000,1.0,1.0
90B,3,NaN,NaN,NaN,NaN,NaN,NaN
90C,2,NaN,NaN,NaN,NaN,NaN,NaN